@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,700;1,100;1,200;1,600&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #2f363e;
}

.container{
	position: relative;
	width: 450px;
	min-height: 600px;
	background: #2f363e;
	border-radius: 30px;
	box-shadow: 25px 25px 75px rgba(0,0,0,0.25), 10px 10px 70px rgba(0,0,0,0.25), 
	inset 5px 5px 10px rgba(0,0,0,0.5), 
	inset 5px 5px 20px rgba(255, 255, 255, 0.2),
	inset -5px -5px 15px rgba(0,0,0,0.75);
}

.container h3{
	color: #fff;
	margin-top: 15px;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
}

.container .list{
	position: relative;
	display: flex;
	margin: 30px 0;
	margin-left: 30px; 
	cursor: pointer;
}

.container .list::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 45px;
	background: #1f83f2;
	border-radius: 22.5px;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
	inset 2px 2px 5px rgba(255,255,255,0.25),
	inset -3px -3px 5px rgba(0,0,0,0.5);
	transition: 0.5s;
}

.container .list:hover::before{
	width: 100%;
}

.container .list .rank{
	position: relative;
	min-width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 10px;
}

.container .list .rank::before{
	content: '';
	position: absolute;
	top: 6px;
	width: 30px;
	height: 30px;
	background: #2f363e;
	border-radius: 30px;
	transform: scale(0);
	transition: 0.5s;
}

.container .list:hover .rank::before{
	transform: scale(1);
}


.container .list .rank span{
	position: relative;
	font-weight: 600;
	font-size: 1em;
	color: #fff;
	transition: 0.5s;
}

.container .list .creator{
	position: relative;
	line-height: 1.5em;
}

.container .list .creator h4{
	font-weight: 600;
	color: #bcbcc0;
	transition: 0.5s;
}

.container .list a{
	text-decoration: none;
}

.container .list .creator p{
	font-weight: 400;
	color: #95999d;
	font-size: 0.85em;
	transition: 0.5s;
	text-decoration: none;
}

.container .list:hover .creator h4,
.container .list:hover .creator p{
	text-decoration: none;
	color: #fff;
} 


